data
models
.venv
.turbo
log
models
node_modules
notebooks

**/node_modules
**/.next
**/.turbo
**/dist
**/build
**/coverage

.git
.gitignore

.env
.env.*
apps/web/.env

Dockerfile
docker-compose.yml

*.log
.DS_Store