.header {
    padding: 12px 0;
}
.header__title {
    font-size: 14px;
}
.header__nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-left: 16px;
}
